body {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: Futura,Trebuchet MS,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: #303030;*/
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 1920px) {
  body{
    font-size: 14px;
  }
}

@media (max-width: 1450px) {
  body{
    font-size: 12px;
  }
}

@media (max-width: 1200px) {
  body{
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  body{
    font-size: 8px;
  }
}
